<%= render :partial => "/shared/slider" %>

<div id="contentWrapper">
			
		
			<img id="img-statement" src="/theme/images/img-statement.jpg" alt="Improving the lives of people who are disabled or disadvantaged" />
	
			<ul class="slideshow">  
			    <li class="show"><a href="#"><img src="/theme/images/slideshow/1.jpg" width="960" height="300" title="Slide 1 of 7" alt="A walk in the park"/></a></li>
			    <li><img src="/theme/images/slideshow/2.jpg" width="960" height="300" title="Slide 2 of 7" alt="Proud of what we do"/></li>
			    <li><img src="/theme/images/slideshow/3.jpg" width="960" height="300" title="Slide 3 of 7" alt="Comfortable in our surroundings"/></li>
				<li><img src="/theme/images/slideshow/4.jpg" width="960" height="300" title="Slide 4 of 7" alt="Lots of fun"/></li>
			    <li><img src="/theme/images/slideshow/5.jpg" width="960" height="300" title="Slide 5 of 7" alt="Beautiful scenery"/></li>
				<li><img src="/theme/images/slideshow/6.jpg" width="960" height="300" title="Slide 6 of 7" alt="With good friends"/></li>
                <li><img src="/theme/images/slideshow/7.jpg" width="960" height="300" title="Slide 7 of 7" alt="Out and about"/></li>
			</ul>  
			
			<div class="introParagraph">
				<%= @page[:body] %>
			</div>
			
      <div class="column floatLeft">
        <div class="col1">
          <div class="colBottom">
            <p>Why choose Azure</p>
          </div>
        </div>
        <%= @page[:bottom_left] %>
      </div> 
                                
      <div class="column floatLeft">
        <div class="col2">
          <div class="colBottom">
            <p>Azure's Vision</p>
          </div>
        </div>
        <%= @page[:bottom_center] %>   
      </div> 
                                
      <div class="column floatLeft"> 
        <div class="col3">
          <div class="colBottom">
            <p>Azure's Services</p>
          </div>
        </div>
        <%= @page[:bottom_right] %>  
      </div> 
		</div> <!-- end contentWrapper -->