<%= render :partial => "/shared/slider" %>

<div id="contentWrapper">
			
		
			<img id="img-statement" src="/theme/images/img-statement.jpg" alt="Improving the lives of people who are disabled or disadvantaged" />
	
			<ul class="slideshow">  
			    <li class="show"><a href="#"><img src="/theme/images/slideshow/1.jpg" width="960" height="300" title="Slide 1" alt="Short Description 1"/></a></li>
			    <li><img src="/theme/images/slideshow/2.jpg" width="960" height="300" title="Slide 2" alt="Short Description 2"/></li>
			    <li><img src="/theme/images/slideshow/3.jpg" width="960" height="300" title="Slide 3" alt="Short Description 3"/></li>
				<li><img src="/theme/images/slideshow/4.jpg" width="960" height="300" title="Slide 2" alt="Short Description 4"/></li>
			    <li><img src="/theme/images/slideshow/5.jpg" width="960" height="300" title="Slide 3" alt="Short Description 5 "/></li>
				<li><img src="/theme/images/slideshow/6.jpg" width="960" height="300" title="Slide 2" alt="Short Description 6"/></li>
                <li><img src="/theme/images/slideshow/7.jpg" width="960" height="300" title="Slide 2" alt="Short Description 6"/></li>
			</ul>  
			
			<div class="introParagraph">
				<%= @page[:body] %>
			</div>
			
      <div class="column floatLeft">
        <div class="col1">
          <div class="colBottom">
            <p>Why choose us</p>
          </div>
        </div>
        <%= @page[:bottom_left] %>
      </div> 
                                
      <div class="column floatLeft">
        <div class="col2">
          <div class="colBottom">
            <p>Our Vision</p>
          </div>
        </div>
        <%= @page[:bottom_center] %>   
      </div> 
                                
      <div class="column floatLeft"> 
        <div class="col3">
          <div class="colBottom">
            <p>Our Vision</p>
          </div>
        </div>
        <%= @page[:bottom_right] %>  
      </div> 
		</div> <!-- end contentWrapper -->